html {
  overflow-y: scroll;
}
* {
  margin: 0px;
  padding: 0px;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.name-div {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.cursor-pointer {
  cursor: pointer;
}
